.navbar {
    background-color: orange;
    
   
  }
  .navbar-brand {
    color: #fff;
  }
  .navbar-nav .nav-link {
    color: #fff;
  }

  .navbar-toggler{
    background-color: gray;
  }
   
  .nav-link{
    font-weight: 600;
  }
  .nav-link:hover{
    transform: scale(1.2);
  }
  
  .navbar-nav{
    margin-left: 500px;
  }
  .navbar-nav .nav-link:hover {
    color: #fff;
  }

 
  a{
    font-size: 20px;
  }